.bar {
   fill: steelblue;
}

.bar:hover {
   fill: orange;
}

.line {
   stroke: orange;
   fill: none;
}

.circle {
   stroke: blue;
   fill: blue;
}

.button-icon {
   width: 30px;
   height: 30px;
}



