.icon-style {
  height: 50px;
  width: 50px;
}

.large-text {
    font-size: 6em;
}

.neon-text {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.blink {
  animation: flicker 1.5s infinite alternate;
}

/* Flickering animation */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

.btn-neon {
  line-height: 50px;
  color: #f5f5f5;
  transition: 0.5s;
  transition-delay: 0.1s;
  position: relative;
  display: inline-block;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
  0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  background-color: #fff;
}

.btn-neon:hover {
  box-shadow: 0 0 10px #ff6f61, 0 0 40px #ff6f61, 0 0 80px #ff6f61;
  background-color: #ff6f61;
}

.btn-neon:hover polyline {
  stroke-dashoffset: -460;
}

.btn-neon svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.btn-neon svg polyline {
  fill: transparent;
  stroke: #ff6f61;
  stroke-width: 2px;
  stroke-dasharray: 40 460;
  stroke-dashoffset: 40;
  transition: 0.8s ease-in-out;
}
